* {
  box-sizing: border-box;
}

body {
  font-family: "Acme", sans-serif;
  /*background-image: url(../images/01d.png);*/
}

.content {
  margin: 0 auto;
}

.siteName:before {
  color: rgb(76, 129, 22);
  content: "WEA";
  letter-spacing: 4px;
}
.siteName {
  margin-top: 1.3rem;
}
.siteNameMotto {
  margin: 1rem 0;
}

.siteNameMotto p {
  display: none;
}

.logo {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.logo img {
  max-width: 3rem;
}

nav {
  background-color: wheat;
  text-align: center;
  margin: 0 auto;
}

.navigation li:first-child {
  display: block;
}
.active {
  background-color: #bbb;
  color: #36454f;
}

nav li {
  display: none;
}

.responsive li {
  display: block;
}

nav ul {
  display: block;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

nav ul li a {
  display: block;

  text-decoration: none;
  padding: 0.75rem;
  color: rgb(76, 129, 22);
  white-space: nowrap;
}

nav a:hover {
  background-color: #bbb;
  color: #36454f;
}

main {
  font-family: "Open Sans", sans-serif;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.gallery {
  margin-left: 10px;
}

.logo,
footer {
  background-color: wheat;
  font-family: "Acme", sans-serif;
}

footer {
  text-align: center;
  padding: 0.75rem;
}

p {
  font-size: 1.2rem;
  padding-left: 10px;
}
.gallery-container {
  display: grid;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
picture {
  margin-bottom: 10px;
}
.gallery-container img {
  width: 100%;
}

.gallery-container p {
  display: none;
}
