@media only screen and (min-width: 60em) {
  .logo {
    font-size: 2.5rem;
  }
  .logo img {
    max-width: 7rem;
  }
  nav {
    padding-left: 17%;
    padding-right: 17%;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  iframe {
    width: 500px;
  }
  .towns-info {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .towns-info section {
    display: revert;
  }
  .towns-info img {
    height: auto;
  }
}
