@media only screen and (min-width: 35em) {
  .logo {
    font-size: 1.3rem;
    padding-left: 18%;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation li:first-child {
    display: none;
  }
}
