* {
  box-sizing: border-box;
}

body {
  font-family: "Acme", sans-serif;
  /*background-image: url(../images/01d.png);*/
}

.content {
  margin: 0 auto;
}
.siteName:before {
  color: rgb(76, 129, 22);
  content: "WEA";
  letter-spacing: 4px;
}
.siteName {
  margin-top: 1.3rem;
}
.siteNameMotto {
  margin: 1rem 0;
}

.siteNameMotto p {
  display: none;
}

.logo {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.logo img {
  max-width: 9%;
}

nav {
  background-color: wheat;
  text-align: center;
  margin: 0 auto;
}

.navigation li:first-child {
  display: none;
}

nav li {
  display: none;
}

.responsive li {
  display: block;
}

nav ul {
  display: block;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

nav ul li a {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.75rem;
  color: rgb(76, 129, 22);
}

nav a:hover {
  background-color: #bbb;
  color: #36454f;
}

header img {
  max-width: 7%;
}
main {
  font-family: "Open Sans", sans-serif;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.townName {
  padding-left: 10px;
}
.banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner-box img {
  width: 100%;
  grid-column: 1 / -1;
}
.logo,
footer {
  background-color: wheat;
  font-family: "Acme", sans-serif;
}

.map {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  display: block;
  padding: 10px;
  justify-content: space-around;
}

footer {
  text-align: center;
  padding: 0.75rem;
}

p {
  font-size: 1.2rem;
  padding-left: 10px;
}
main h3 {
  padding-left: 10px;
}

.forecast-info {
  background-color: #d2cfcf;
  height: 200px;
  margin-bottom: 20px;
}
.volunteer-info {
  background-color: #d2cfcf;
  height: 200px;
  padding-top: 5px;
}

iframe {
  width: 100%;
}

button {
  display: block;
  background-color: transparent;
  position: absolute;
  left: 80%;
  font-size: 1.5rem;
}
.location,
.phone,
.email {
  display: flex;
}
.location img,
.phone img,
.email img {
  max-width: 10%;
  margin-bottom: 0.8rem;
}
.location p,
.phone p,
.email p {
  margin: 0;
}
.social img {
  margin-right: 0.8rem;
}
