* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  font-family: "Acme", sans-serif;
}

.content {
  margin: 0 auto;
  max-width: 960px;
}
.siteName:before {
  color: rgb(76, 129, 22);
  content: "WEA";
  letter-spacing: 4px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: wheat;
  text-align: center;
}

nav ul {
  display: block;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

nav ul li a {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.75rem;
  color: rgb(76, 129, 22);
}

nav a:hover {
  background-color: #bbb;
  color: #36454f;
}

header img {
  max-width: 7%;
}
main {
  font-family: "Open Sans", sans-serif;
  padding: 15px;
}
main img {
  max-width: 20%;
}

.logo,
footer {
  background-color: wheat;
  font-family: "Acme", sans-serif;
}

footer {
  text-align: center;
  padding: 0.75rem;
}

.color {
  display: flex;
  list-style: none;
  padding: 0;
  text-align: center;
  box-shadow: 0 0 3px #e7e5e5;
}

.color li {
  flex: 1 1 100%;
  padding-top: 250px;
  padding-bottom: 10px;
}

.wheat {
  background-color: wheat;
}
.yellow {
  display: none;
}
.orange {
  background-color: #ff6123;
}
.green {
  display: none;
}
.black {
  background-color: #000000;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}
p {
  font-size: 1.2rem;
}

.navSample {
  background-color: #f5deb3;
  color: #4c8116;
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
}
.smallView {
  display: none;
}
