* {
  box-sizing: border-box;
}

body {
  font-family: "Acme", sans-serif;
  /*background-image: url(../images/01d.png);*/
}

.content {
  margin: 0 auto;
}
#pancake {
  display: none;
}
#pancake p {
  text-align: center;
  background-color: wheat;
  margin: 0;
  padding: 10px;
}
.siteName:before {
  color: rgb(76, 129, 22);
  content: "WEA";
  letter-spacing: 4px;
}
.siteName {
  margin-top: 1.3rem;
}
.siteNameMotto {
  margin: 1rem 0;
}

.siteNameMotto p {
  display: none;
}

.logo {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.logo img {
  max-width: 3rem;
}

nav {
  background-color: wheat;
  text-align: center;
  margin: 0 auto;
}

.navigation li:first-child {
  display: block;
}
.active {
  background-color: #bbb;
  color: #36454f;
}

nav li {
  display: none;
}

.responsive li {
  display: block;
}

nav ul {
  display: block;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

nav ul li a {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.75rem;
  color: rgb(76, 129, 22);
}

nav a:hover {
  background-color: #bbb;
  color: #36454f;
}

main {
  font-family: "Open Sans", sans-serif;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.eventlist {
  color: rgb(76, 129, 22);
  white-space: nowrap;
  overflow: hidden;
}
.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
  margin: 0;
  font-size: 1rem;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/*hero images*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activate,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*end hero*/
/*what section*/
.what {
  padding: 2%;
}
.what img {
  width: 70%;
  margin-right: 2%;
  margin-left: 2%;
  box-shadow: 0px 0px 18px #929191;
}
.what p {
  font-size: 1.2rem;
  line-height: 2rem;
}
/*towns info*/
.towns-container {
  background-color: rgb(222, 244, 252);
  padding: 2%;
}
.towns-container-title {
  margin-top: 0;
}
.towns-info {
  display: grid;
  grid-template-columns: 1fr;
  color: rgb(47, 65, 116);
}
.towns-info section {
  text-align: center;
  background-color: rgb(255, 245, 211);
  margin: 5%;
  border-radius: 10px;
  padding: 2%;
}
.towns-info img {
  width: 100%;
  height: auto;
}
.towns-info h2 {
  border-radius: 10px;
  margin: 0;
  margin-bottom: 2%;
  padding-top: 4%;
  text-shadow: 2px 2px rgb(222, 244, 252);
  font-size: 2rem;
}
.towns-info .p1 {
  margin-top: 0;
  font-style: italic;
  font-weight: bold;
}
.towns-info .p2 {
  margin-top: 0;
}
.townName {
  padding-left: 10px;
}
main h3 {
  padding-left: 10px;
}
.banner-box {
  position: relative;
}
.banner-box img {
  width: 100%;
}
.weather-info {
  display: block;
  top: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  margin: 10px;
  padding: 15px;
}
.weather-info h3,
.weather-info p {
  margin: 0;
}
.weather-info h3 {
  color: rgb(76, 129, 22);
  font-size: 1.5rem;
}
.weather-info p {
  font-size: 1rem;
}
.logo,
footer {
  background-color: wheat;
  font-family: "Acme", sans-serif;
}

.map {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  display: block;
  justify-content: space-evenly;
  padding: 2%;
}

footer {
  text-align: center;
  padding: 0.75rem;
}

p {
  font-size: 1.2rem;
  padding-left: 10px;
}

.forecast-info {
  background-color: white;
  margin-bottom: 20px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: rgb(76, 129, 22);
}
.day {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.forecast-info p {
  background-color: wheat;
  margin: 0;
  font-family: "Acme", sans-serif;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}
.forecast-temp {
  font-weight: bold;
  padding-bottom: 10px;
}
.forecast-info img {
  width: 50%;
  margin: 0 auto;
}

.volunteer-info {
  background-color: #d2cfcf;
  overflow: auto;
  padding-top: 5px;
  padding: 15px;
}
.volunteer-info h3 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 10px;
}
.volunteer-info p {
  line-height: 2rem;
}
.volunteer-info img {
  box-shadow: 0 5px 20px black;
  margin-right: 2%;
  margin-left: 2%;
  float: right;
}

iframe {
  width: 100%;
}

.location,
.phone,
.email {
  display: flex;
}
.location img,
.phone img,
.email img {
  width: 30px;
  margin-bottom: 0.8rem;
}
.location p,
.phone p,
.email p {
  margin: 0;
}
.social img {
  margin-right: 0.8rem;
}
/*storm center*/
form {
  max-width: 900px;
  margin: 2%;
  padding: 2%;
  border: 4px solid rgb(76, 129, 22);
  border-radius: 20px;
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
}
fieldset {
  border: 2px solid black;
  margin: 2%;
  background-color: wheat;
}
fieldset legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.col-25 {
  float: left;
  padding: 1%;
}
.col-75 {
  float: left;
  padding: 1%;
}
.col-25,
.col-75 {
  width: 100%;
  margin-top: 0;
}
label {
  padding: 12px 12px 12px 0;
}
.inline {
  display: inline-block;
}
#fname,
#email,
#phone,
#zip,
#stormDate,
#stormType,
#stormRegion,
#extra-info {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  resize: vertical;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.btm {
  display: block;
  margin: 2% auto;
  padding: 2%;
  border-radius: 25px;
  color: rgb(76, 129, 22);
  font-weight: bold;
  font-size: 1.3rem;
  background-color: wheat;
}
/*end storm center*/
/*thank you page*/
.succee {
  text-align: center;
  margin: 2%;
}

.succee h2 {
  text-shadow: 2px 2px 5px rgb(129, 125, 125);
}
/*gallery*/
.gallery {
  margin-left: 10px;
}
.gallery-container {
  display: grid;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
picture {
  margin-bottom: 10px;
}
.gallery-container img {
  width: 100%;
}

.gallery-container p {
  display: none;
}
